<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dg_livesports.dg_livesports">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_Login"
            android:theme="@style/AppTheme.ActionBar.Transparent"/>
        <activity
            android:name=".RegistroActivity"
            android:label="@string/title_activity_registro"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ResultadosActivity"
            android:label="@string/title_activity_resultados"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ParttablasActivity"
            android:label="@string/title_activity_parttablas"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NoticiasActivity"
            android:label="@string/title_activity_noticias"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".VideosActivity"
            android:label="@string/title_activity_videos"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NotificacionesActivity"
            android:label="@string/title_activity_notificaciones"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ConfiguracionesActivity"
            android:label="@string/title_activity_configuraciones"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SocialActivity"
            android:label="@string/title_activity_social"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>